<%= form_with(model: @season, url: [@season.drama, @season], local: true) do |form| %>
<div class="row">	
	<% if @season.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@season.errors.count, "error") %> 
					prohibited this season from being saved:
			</h2>
			<ul>
				<% @season.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>	
</div>  
<div class="row">
	<div class="col">
		<table class="table">
			<tr>
				<td><%= form.label 'シーズンナンバー' %></td>
				<td><%= form.number_field :season_num %></td>
			</tr>
			<tr>
				<td><%= form.label 'file extension' %></td>
				<td><%= form.text_field :file_extension %></td>
			</tr>
			<tr>
				<td><%= form.label 'トータルエピソード数' %></td>
				<td><%= form.number_field :num_total_episode %></td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="col">
		<input type="submit" class="btn btn-warning" value="このデータで登録する">
	</div>
</div>
<div class="row" style="margin-top:1em">
	<div class="col">
		<button type="button" class="btn btn-info"  onclick="location.assign('<%= drama_path(@season.drama) %>')">戻る</button>
	</div>
</div>
<% end %>
