<%= form_with(model: @actor, local: true) do |form| %>

<div class="row">	
	<% if @actor.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@actor.errors.count, "error") %> 
					prohibited this season from being saved:
			</h2>
			<ul>
				<% @actor.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>	
</div>  
<div class="row">
	<div class="col">
		<table class="table">
			<tr>
				<td><%= form.label '名前' %></td>
				<td><%= form.text_field :name %></td>
			</tr>
			<tr>
				<td><%= form.label 'Name' %></td>
				<td><%= form.text_field :eng_name %></td>
			</tr>
			<tr>
				<td><%= form.label '生年月日' %></td>
				<td><%= form.date_field :birthdate %></td>
			</tr>
			<tr>
				<td><%= form.label '出身地' %></td>
				<td><%= form.text_field :birthplace %></td>
			</tr>
			<tr>
				<td><%= form.label '身長' %></td>
				<td><%= form.number_field :height %></td>
			</tr>
			<tr>
				<td><%= form.label '体重' %></td>
				<td><%= form.number_field :weight %></td>
			</tr>
			<tr>
				<td><%= form.label '血液型' %></td>
				<td><%= form.text_field :blood %></td>
			</tr>
			<tr>
				<td><%= form.label '配偶者' %></td>
				<td><%= form.text_field :spouse %></td>
			</tr>
			<tr>
				<td><%= form.label '所属社' %></td>
				<td><%= form.text_field :company %></td>
			</tr>

		</table>
	</div>
</div>
<div class="row">
	<div class="col">
		<input type="submit" class="btn btn-warning" value="このデータで登録する">
	</div>
</div>
<div class="row" style="margin-top:1em">
	<div class="col">
		<button type="button" class="btn btn-info"  onclick="location.assign('<%= actors_path %>')">戻る</button>
	</div>
</div>
<% end %>