Episode form

<% if action_name == 'new' 
		arg2 = [ @episode.season, @episode.season.episodes.build ]
	else
		arg2 = @episode 
	end
%>
<%= form_with(model: @episode,
				url: [ @episode.season, @episode ], local: true) do |form| %>
<div class="row">	
	<% if @episode.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@episode.errors.count, "error") %> 
					prohibited this episode from being saved:
			</h2>
			<ul>
				<% @episode.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>	
</div>
<div class="row">
	<div class="col">
		<table class="table">
			<tr>
				<td><%= form.label 'エピソードナンバー' %></td>
				<td><%= form.number_field :episode_num %></td>
			</tr>
			<tr>
				<td><%= form.label 'ファイル名' %></td>
				<td><%= form.text_field :filename %></td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="col">
		<input type="submit" class="btn btn-warning" value="このデータで登録する">
	</div>
</div>
<div class="row" style="margin-top:1em">
	<div class="col">
		<button type="button" class="btn btn-info"  onclick="location.assign('<%= drama_path(@episode.season.drama) %>')">戻る</button>
	</div>
</div>
<% end %>


	
