Drama form
<%= form_with model: @drama, local: true do |form| %>
<div class="row">	
	<% if @drama.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@drama.errors.count, "error") %> 
					prohibited this drama from being saved:
			</h2>
			<ul>
				<% @drama.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %> 
			</ul>
		</div>
	<% end %>	
</div>	
<div class="row">
	<div class="col">
		<table class="table">
			<tr>
				<td><%= form.label 'タイトル' %></td>
				<td><%= form.text_field :title %></td>
			</tr>
			<tr>
				<td><%= form.label 'Title' %></td>
				<td><%= form.text_field :eng_title %></td>
			</tr>

			<tr>
				<td><%= form.label 'Genre' %></td>
				<td><%= form.text_field :genre %></td>
			</tr>
			
			<tr>
				<td><%= form.label '監督' %></td>
				<td><%= form.text_field :director %></td>
			</tr>
			
			<tr>
				<td><%= form.label '主演' %></td>
				<td><%= form.text_area :actor %></td>
			</tr>

			<tr>
				<td><%= form.label '放送開始日' %></td>
				<td><%= form.date_field :start_date %></td>
			</tr>
			
			<tr>
				<td><%= form.label 'あらすじ' %></td>
				<td><%= form.text_area :synopsis %></td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="col">
		<input type="submit" class="btn btn-warning" value="このデータで登録する">
	</div>
</div>
<div class="row" style="margin-top:1em">
	<div class="col">
		<button type="button" class="btn btn-info"  onclick="location.assign('<%= dramas_path %>')">戻る</button>
	</div>
</div>
<% end %>

