<!-- dramas index -->

<script>
$("#main-container").on('click-row.bs.table', function (e, row, $element) {
	alert('a');
    window.location = $element.data('href');
});

$(document).ready(function() {  
	//set_image_aspect_ratio("drama-thumbnail", 0.7);
	//$("body").fadeIn();
})  
</script>

<style>
	.button {
		text-align
	}
</style>


<div id="main-container" class="container" style="margin-top:2%">

<div class="row justify-content-end" style="margin-bottom:30px">
	<!--
	<div class="col-8">
		<h1>南くんのドラマチャンネル</h1>
	</div>
	-->
	<div class="col-xs-12 text-right">		
		<button type="button" style="align-self: center;" class="btn btn-danger" 
			onclick="location.assign('<%= actors_path %>')">俳優から探す</button>		
	</div>
</div>

<% @dramas.each do |drama| %>
<div class="row drama-index-row" >		
	<div class="col-xs-4 col-lg-2">
		<img style=" width:100%;cursor: pointer;" class="drama-title drama-thumbnail" 
				src="<%= image_url(drama.eng_title) %>" onclick="location.assign('<%= drama_path(drama) %>')">
	</div>
	<div class="col-xs-8 col-lg-3">
		<h4><strong><%= drama.title %></strong><small></small></h4>	
		<%= drama.start_date.to_s[0..3] %>, <%= drama.genre %><br>
		 <strong><%= drama.num_total_season %></strong>se. (<strong><%= drama.num_total_episode %></strong>ep.)<br>
	</div>
	
	<div class="clearfix visible-xs-block"></div>

	<div class="col-xs-4 col-lg-3 border-right" >						
		<p><%= drama.actor %></p>	
	</div>
	<div class="col-xs-8 col-lg-4 border-top">					
		<p><%= drama.synopsis.truncate(70) %></p>
	</div>	
	<% if is_admin %>
		<div class="col-xs-2 col-lg-1">
			<%= link_to '修正', edit_drama_path(drama) %><br>
			<%= link_to '削除', drama_path(drama), method: :delete, 
				data: { confirm: '削除しますか？' } %>
		</div>
	<% end %>
</div>
<% end %>

<% if is_admin %>
	<div class="row" style="margin-top:3em">
		<div class="col-xs-12">
			<button type="button" class="btn"  onclick="location.assign('<%= new_drama_path %>')">新ドラマを登録</button>
			<!-- <h2><%= link_to '新ドラマを登録', new_drama_path %></h2> -->
		</div>
	</div>
<% end %>
</div>