<div id="main-container" class="container" style="margin-top:2%">
    <h1>登場俳優を登録してください</h1>
    <%= form_with model: @participation, local: true do |form| %>
    <div class="row">	
        <% if @participation.errors.any? %>
            <div id="error_explanation">
                <h2>
                    <%= pluralize(@participation.errors.count, "error") %> 
                        prohibited this drama from being saved:
                </h2>
                <ul>
                    <% @participation.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %> 
                </ul>
            </div>
        <% end %>	
    </div>	
    <div class="row" style="margin-bottom:30px">	
        <div class="col-3">	
            <%= form.label 'Drama ' %><br><%= form.select :drama_id, 
                options_for_select(Drama.all.map{|s|[s.title, s.id]}, @drama.id) %>
        </div>
        <div class="col-3">	
            <%= form.label 'Actor ' %><br><%= form.select :actor_id, options_for_select(Actor.all.map{|s|[s.name, s.id]}) %>
        </div>
    </div>
    <div class="row">	
        <div class="col">	
            <input type="submit" class="btn btn-warning" value="このデータで登録する">
        </div>
    </div>
    <% end %>
</div>  